 <!-- Puisque le code risque de beaucoup se répeter, on hésite pas à factoriser le footer -->

 <!-- Realisation du footer -->

 <footer class="footer">

         <div class="footer-registration-div">

                 <p class="footer-registration">

                         <a class="footer-registration--href" href="#" target="_blank">Mentions légales</a>

                 </p>

                 <br>

                 <p class="footer--signature">Rémi Maestro-Villa, 2022.</p>

         </div>

         <div class="footer-socialnetwork-div">

                 <nav class="footer-socialnetwork-nav">

                         <ul class="footer-socialnetwork--ul">

                                 <li class="footer-nav--list">

                                         <a href="https://www.facebook.com/La-Villa-Aubert-107347191587650">

                                                 <img src="https://i0.wp.com/www.madtrail.com/wp-content/uploads/2018/06/logo-fb.png?ssl=1"
                                                         alt="Facebok Logo" class="image-facebook" />

                                         </a>

                                 </li>

                                 <li class="footer-nav--list">

                                         <a href="https://www.instagram.com/la_villa_aubert/?hl=fr">

                                                 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/800px-Instagram_logo_2016.svg.png"
                                                         alt="Instagram Logo" class="image-instagram" />

                                         </a>

                                 </li>

                                 <li class="footer-nav--list">

                                         <a href="https://www.tiktok.com/fr/">

                                                 <img src="https://icones.pro/wp-content/uploads/2021/03/logo-icone-tiktok-simbolo.png"
                                                         alt="TikTok Logo" class="image-tiktok" />

                                         </a>

                                 </li>

                                 <li class="footer-nav--list">

                                         <a href="https://twitter.com/?lang=fr">

                                                 <img src="https://f.hellowork.com/blogdumoderateur/2019/11/twitter-logo.jpg"
                                                         alt="Twitter Logo" class="image-twitter" />

                                         </a>

                                 </li>

                         </ul>

                 </nav>

         </div>


 </footer>

 <!-- Je réalise le fichier interaction js qui contiendra toutes les interactions possibles sur le site -->

 <script src="/js/interaction.js"></script>

 </body>

 </html>