 <!-- Puisque le code risque de beaucoup se répeter, on hésite pas à factoriser le header -->

 <!-- Les métadonnées du projet -->

 <!DOCTYPE html>

 <html lang="en">

 <head>

     <meta charset="UTF-8">

     <meta http-equiv="X-UA-Compatible" content="IE=edge">

     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="preconnect" href="https://fonts.googleapis.com">

     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

     <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="/css/reset.css" />

     <link rel="stylesheet" href="/css/style.css" />

     <title>La Villa Aubert</title>

 </head>

 <body>

     <!-- Réalisation du header -->

     <header class="header">

         <div class="header-title--div">

             <h1 class="header-title">

                 <a href="/" class="header-title--redirection">La Villa Aubert</a>

             </h1>

         </div>

         <!-- Réalisation de la barre de navigation -->

         <div class="header-nav--div">

             <nav class="header-nav">

                 <ul class="header-nav--ul">

                     <li class="header-nav--list">

                         <a class="header-nav--list--href" href="/contact">Coordonnées</a>

                     </li>

                     <li class="header-nav--list">

                         <a class="header-nav--list--href" href="/network">Nous suivre</a>

                     </li>

                     <li class="header-nav--list">

                         <a class="header-nav--list--href" href="/login">Connexion</a>

                     </li>

                     <li class="header-nav--list">

                         <a class="header-nav--list--href" href="/subscribe">Inscription</a>

                     </li>

                 </ul>

             </nav>

         </div>

     </header>