<%- include ("partials/header") %>

<!-- Réalisation du main -->

<main class="main">

    <section class="main-presentation">

        <p class="main-presentation--firstparagraph">Vous cherchez à nous contacter ? La Villa Aubert vous laisse
            
            choisir comment !</p>

        <br>

    </section>

    <section class="contact-presentation-category">

        <section class="contact-presentation-category-card--one">

            <a class="contact-presentation-category-card--one--localisation" href="#">

                <p class="localisation">Localisation</p>

            </a>

        </section>

        <section class="contact-presentation-category-card--two">

            <a class="contact-presentation-category-card--two--telephone" href="#">

                <p class="telephone">Téléphone</p>

            </a>

        </section>

        <section class="contact-presentation-category-card--three">

            <a class="contact-presentation-category-card--three--mail" href="#">

                <p class="mail">Mail</p>

            </a>

        </section>

        <section class="contact-presentation-category-card--four">

            <a class="contact-presentation-category-card--four--other" href="#">

                <p class="other">Horaires</p>

            </a>

        </section>

    </section>

</main>

<%- include ("partials/footer") %>