<%- include ("partials/header") %>

    <!-- Réalisation du main -->

    <main class="main">

        <section class="main-presentation">
            <h2 class="main-presentation--title">Bienvenue à la pizzéria La Villa Aubert !</h2><br>
             <p class="main-presentation--secondparagraph">Si la carte de notre restaurant vous convient, n'hésitez pas à nous suivre sur nos réseaux sociaux, à vous inscrire à notre site afin de gagner des points de fidélités et à vous connecter afin de pouvoir écrire un petit mot dans notre livre d'or, nous restons quoi qu'il arrive à votre écoute. Bon appétit !</p><br>
        </section>

        <section class="main-presentation-category">
            <section class="main-presentation-category-card--one">
                <a class="main-presentation-category-card--one--pizza" href="/pizzas"><p class="pizza">Pizzas</p></a>
            </section>
            <section class="main-presentation-category-card--two">
                <a class="main-presentation-category-card--two--dessert" href="/desserts"><p class="dessert">Desserts</p></a>
            </section>
            <section class="main-presentation-category-card--three">
                <a class="main-presentation-category-card--three--beverage" href="/beverages"><p class="beverage">Vins et Boissons</p></a>
            </section>
            <section class="main-presentation-category-card--four">
                <a class="main-presentation-category-card--four--book" href="#"><p class="book">Livre d'Or</p></a>
            </section>
        </section>

    </main>

    <%- include ("partials/footer") %>