<%- include ("partials/header") %>

<!-- Réalisation du main -->

<main class="main">

    <section class="main-presentation">

        <p class="main-presentation--firstparagraph">N'hesitez pas à suivre La Villa Aubert sur vos réseaux sociaux

            favoris !</p>

        <br>

    </section>

    <section class="network-presentation-category">

        <section class="network-presentation-category-card--one">

            <a class="network-presentation-category-card--one--facebook"
                href="https://www.facebook.com/La-Villa-Aubert-107347191587650">

                <p class="facebook">Facebook</p>

            </a>

        </section>

        <section class="network-presentation-category-card--two">

            <a class="network-presentation-category-card--two--twitter"
                href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">

                <p class="twitter">Twitter</p>

            </a>

        </section>

        <section class="network-presentation-category-card--three">

            <a class="network-presentation-category-card--three--tiktok" href="https://www.tiktok.com/fr/">

                <p class="tiktok">TikTok</p>

            </a>

        </section>

        <section class="network-presentation-category-card--four">

            <a class="network-presentation-category-card--four--instagram"
                href="https://www.instagram.com/la_villa_aubert/?hl=fr">

                <p class="instagram">Instagram</p>

            </a>

        </section>

    </section>

</main>

<%- include ("partials/footer") %>