<%- include ("partials/header") %>

    <!-- Réalisation du main -->

    <main class="main">

        <section class="main-presentation">
            
            <p class="main-presentation--firstparagraph">N'hesitez pas à suivre La Villa Aubert sur vos réseaux sociaux favoris !</p><br>
            
        </section>

        <section class="network-presentation-category">
            <section class="network-presentation-category-card--one">
                <a class="network-presentation-category-card--one--facebook" href="#"><p class="facebook">Facebook</p></a>
            </section>
            <section class="network-presentation-category-card--two">
                <a class="network-presentation-category-card--two--twitter" href="#"><p class="twitter">Twitter</p></a>
            </section>
            <section class="network-presentation-category-card--three">
                <a class="network-presentation-category-card--three--tiktok" href="#"><p class="tiktok">TikTok</p></a>
            </section>
            <section class="network-presentation-category-card--four">
                <a class="network-presentation-category-card--four--instagram" href="#"><p class="instagram">Instagram</p></a>
            </section>
        </section>

    </main>

    <%- include ("partials/footer") %>